.navbar.bg-color {
    background-color: rgba(196, 74, 74, 0.74); /* C44A4A à 74% en notation RGBA */
    margin: 0;

    padding: 0;

    height: 100%;

    width: 100%;

    display: flex;

    align-items: center;

    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% de la hauteur de la vue (viewport height) */
    margin: 0;
   
}

  
.content {
    flex: 1; /* Utilise tout l'espace disponible en dessous du pied de page */
    margin: 0; /* Supprimer la marge par défaut du contenu */
       
}

.navbar-nav .nav-link {
    font-weight: bold;
}

.welcome-content {
    display: flex;
    flex-direction: column; /* Aligner verticalement les éléments enfants */
    align-items: flex-end; /* Aligner les éléments à droite */
    padding: 20px; /* Ajoutez de l'espace autour du contenu */
}

.bold-text {
    font-weight: bold;
    font-size: 40px;
    color: rgba(255, 228, 196, 0.758);
}

.bold-text-small {
    font-weight: bold;
    font-size: 20px; 
    color: rgba(255, 228, 196, 0.758);
}


.red-button.custom {
    background-color: #ff0000;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



#welcome {
    color: rgba(255, 228, 196, 0.758);
    margin: 0; /* Supprimer les marges par défaut de h1 */
}

#welcome-paragraph {
    color: rgba(34, 30, 24, 0.758);
    margin: 0; /* Supprimer les marges par défaut du paragraphe */
    text-align: left; /* Aligner le texte à gauche à l'intérieur du paragraphe */
    font-weight: bold; /* Rendre le texte en gras */
}

.table-bg {
    background-color: #bdbd2f; /* Remplacez cette couleur par celle de votre choix */
}

.custom-button {
    background-color: rgba(196, 74, 74, 0.74); /* Couleur d'arrière-plan avec une opacité de 74% */
    border: none;
    border-radius: 10px;
    color: rgb(9, 8, 8);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Effet d'ombre */
    padding: 10px 20px;
}

.custom-button:hover {
    background-color: rgba(196, 74, 74, 0.9); /* Couleur au survol avec une opacité de 90% */
}

.forgot-password-link {
    text-decoration: underline; /* Soulignez le texte du lien */
    color: #007bff; /* Couleur du lien (bleu par défaut) */
    font-weight: normal; /* Réinitialiser le poids de la police si nécessaire */
}

.forgot-password-link:hover {
    text-decoration: none; /* Supprimez le soulignement au survol du lien */
    font-weight: bold; /* Ajoutez du gras au texte au survol */
}



#footer {
    background-color: #735151;
    color: white; /* Définissez la couleur du texte pour le pied de page */
    padding: 15px; /* Ajoutez de l'espace autour du pied de page */
    display: flex;
    justify-content: center;
    align-items: center;  
}

  
#footer h4 {
    margin: 0; /* Supprimer les marges par défaut du h4 */
  }

  


  