/*Création des polices*/
@font-face {
    font-family: 'Kenia'; 
    src: url('Police/Kenia-Regular.ttf') format('truetype'); 

  }
    
  @font-face {
    font-family: 'Dancing'; 
    src: url('Police/Cardo-Regular.ttf') format('truetype'); 

  }
  


  /*Autres styles*/

.navbar.bg-color {
    background-color: rgba(196, 74, 74, 0.74); /* C44A4A à 74% en notation RGBA */
    margin: 0;

    padding: 0;

    height: 100%;

    width: 100%;

    display: flex;

    align-items: center;

    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% de la hauteur de la vue (viewport height) */
    margin: 0;
   
}

  
.content {
    flex: 1; /* Utilise tout l'espace disponible en dessous du pied de page */
    margin: 0; /* Supprimer la marge par défaut du contenu */
       
}

.navbar-nav .nav-link {
    font-weight: bold;
}

.welcome-content {
    display: flex;
    flex-direction: column; /* Aligner verticalement les éléments enfants */
    align-items: flex-end; /* Aligner les éléments à droite */
    padding: 20px; /* Ajoutez de l'espace autour du contenu */
}

.bold-text {
    font-weight: bold;
    font-size: 40px;
    color: rgba(255, 228, 196, 0.758);
}

.bold-text-small {
    font-weight: bold;
    font-size: 20px; 
    color: rgba(255, 228, 196, 0.758);
}


.red-button.custom {
    background-color: #ff0000;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



#welcome {
    color: rgba(255, 228, 196, 0.758);
    margin: 0; /* Supprimer les marges par défaut de h1 */
}

#welcome-paragraph {
    color: rgba(34, 30, 24, 0.758);
    margin: 0; /* Supprimer les marges par défaut du paragraphe */
    text-align: left; /* Aligner le texte à gauche à l'intérieur du paragraphe */
    font-weight: bold; /* Rendre le texte en gras */
}

.table-bg {
    background-color: #bdbd2f; /* Remplacez cette couleur par celle de votre choix */
}

.custom-button {
    background-color: rgba(196, 74, 74, 0.74); /* Couleur d'arrière-plan avec une opacité de 74% */
    border: none;
    border-radius: 10px;
    color: rgb(9, 8, 8);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Effet d'ombre */
    padding: 10px 20px;
}

.custom-button:hover {
    background-color: rgba(196, 74, 74, 0.9); /* Couleur au survol avec une opacité de 90% */
}

.forgot-password-link {
    text-decoration: underline; /* Soulignez le texte du lien */
    color: #007bff; /* Couleur du lien (bleu par défaut) */
    font-weight: normal; /* Réinitialiser le poids de la police si nécessaire */
}

.forgot-password-link:hover {
    text-decoration: none; /* Supprimez le soulignement au survol du lien */
    font-weight: bold; /* Ajoutez du gras au texte au survol */
}



#footer {
    background-color: #735151;
    color: white; /* Définissez la couleur du texte pour le pied de page */
    padding: 15px; /* Ajoutez de l'espace autour du pied de page */
    display: flex;
    justify-content: center;
    align-items: center;  
}

  
#footer h4 {
    margin: 0; /* Supprimer les marges par défaut du h4 */
  }

  


  /*Style pour les menus*/
  .menu_de_navigation nav {
    background-color: #e0e0e0; 
    padding: 10px;
  }
  .menu_de_navigation{
    position: static;
  }

 
  .menu_de_navigation nav a {
    color: white; 
    text-decoration: none; 
    margin: 0 10px; 
  }

  .menu_de_navigation .navbar .navbar-brand{
    font-family: 'Kenia', sans-serif;
    font-size: 30px;
    color:black;
  }

  .menu_de_navigation .lien{
    font-family: 'Dancing', sans-serif;
    color:#333;
    
  }
  .menu_de_navigation .deco{
    font-family: 'Dancing', sans-serif;
    background-color: #333;
    color: white;
    
  }


  /*Style pour la page index*/
  
  #inde .ta{
    /* Vos styles ici */
    font-family: 'Dancing', sans-serif;
    font-size: 40px;
    font-style: italic;
  }   
  
  #inde .ba{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: bold;
  }

  #inde .mon_bouton {
    width: 500px; /* Changer la largeur selon vos besoins */
    height: 50px; /* Changer la hauteur selon vos besoins */
    font-size: 16px; /* Changer la taille de la police selon vos besoins */
    /* Autres styles CSS si nécessaire */
}
#inde .ca{
    font-family: 'Bodoni MTsplay', sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
  #inde #bas_inde{
    background-color:#e0e0e0;
    border-radius: 20px;
    padding: 50px; 
  }







  
  /*Styles pour la page accueil_membre__________________*/
  #accueil #container_membre {
    margin: 0;
    padding: 0;
  }
  
  /* Styles pour le conteneur du carrousel */
  #accueil #imageCarousel {
      margin-top: 0px;
    }
    
    /* Styles pour les images du carrousel */
    #accueil #imageCarousel .carousel-inner img {
      width: 474px;
      height: 315px;
      margin: 0;
    }
    
  /* Styles par défaut pour les flèches de contrôle du carrousel */
  #accueil .carousel-control-prev-icon,
  #accueil .carousel-control-next-icon {
  background-color: transparent; /* Rend le fond transparent */
  border: none; /* Supprime la bordure */
  
}

/* Masque les flèches du carrousel par défaut */
#accueil #imageCarousel .carousel-control-prev,
#accueil #imageCarousel .carousel-control-next {
  opacity: 0;
  transition: opacity 0.1s; /* Ajoute une transition en douceur */
}
   /* Styles pour les flèches de contrôle du carrousel */
   #accueil #imageCarousel:hover .carousel-control-prev-icon,
   #accueil #imageCarousel:hover .carousel-control-next-icon {
    background-color: #544848; /* Couleur de fond des flèches */
    color: #fff; /* Couleur du texte des flèches */
    width: 10px; /* Largeur de la flèche */
    height: 40px; /* Hauteur de la flèche */
    border-radius: 0; /* Pas de bordure arrondie */
    margin-left: 0;
  }
  
  /* Styles pour les contrôles du carrousel au survol */
  #accueil#imageCarousel:hover .carousel-control-prev,
  #accueil#imageCarousel:hover .carousel-control-next {
    opacity: 1;
    margin: 0;
    width: auto; /* Ajuste la largeur automatiquement */
  }
  
  #accueil .custom-slide {
    position: relative;
}

#accueil .image-container img{
    width: 100%;
    height: 70vh;
    position: relative;
}

#accueil .buttons {
    position: absolute;
    bottom: 20px; /* Ajustez cette valeur pour réduire l'espace */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* Centre les boutons horizontalement */
}

#accueil .buttons button {
    margin-right: 10px;
}

#accueil .buttons button:nth-child(2)::after {
  content: " >"; /* Ajoute une flèche simple à droite du texte du bouton 2 */
  margin-left: 5px; /* Ajoute un espacement entre le texte du bouton et la flèche */
}

#accueil .btn-primary{
  background-color: beige;
    color: #000000;
    border: none;
  box-shadow: none; /* Supprime l'ombre au survol */
}
#accueil .btn-primary:hover {
  background-color: red; /* Couleur rouge lors du survol */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ajoute une ombre au survol */
}

#accueil .btn-secondary{
  border: none;
  box-shadow: none; /* Supprime l'ombre au survol */
}
#accueil .btn-secondary:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ajoute une ombre au survol */
}